################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PuTTYSessionManager/bin
/PuTTYSessionManager/obj
/.vs/**
